*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.card{
    width: 900px;
    height: 500px;
    margin: 50px auto;
    padding: 80px 70px;
    border: 6px solid rgb(12, 68, 17);
    background-image: url(../image/logo.png), 
                        url(../image/frame.png),
                        url(../image/Ann1.jpg);
    background-size: 100px 100px, 900px 500px, cover;
    background-position: 90% 80%, center, center;

    
    background-repeat: no-repeat;
    color: rgb(15, 50, 102);
    font-family: Arial;
   

}

.card p{
    margin: 20px 0;
    line-height: 25px;
}
.card a{
    color: black;
    text-decoration: none;
}

.container{
    width: 1100px;
    height: 1000px;
    margin: auto;
    background-color: #0575e6;
    
}
.visit_card{
    width: 400px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px auto;
    padding: 50px 30px;
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    border-radius: 20px;
    float: left;
    
}
.visit_card p{
    margin: 20px 0;
}
.visit_card a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00f260, #0575e6);
    
}

.visit_card{
    width: 400px;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 50px auto;
    padding: 50px 30px;
    background-image: linear-gradient(to right, #11998e, #38ef7d);
    border-radius: 20px;
    float: left;
    
}
.visit_card p{
    margin: 20px 0;
}
.visit_card a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aquamarine;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #00f260, #0575e6);
    
}

